//- script(type="text/x-template")#parallax-footer__section
//- .parallax-footer
//- 	.parallax-footer__item.parallax-footer__item_1
//- 	.parallax-footer__item.parallax-footer__item_2
//- 	.parallax-footer__item.parallax-footer__item_3
//- 	.parallax-footer__item.parallax-footer__item_4
//- 	.parallax-footer__item.parallax-footer__item_5

//- .parallax-footer
//-     .parallax-footer__layer(data-speed="0.1")
//-     img(src=require("./images/parallax/pf1.png")).parallax-footer__image
//-     .parallax-footer__layer(data-speed="0.20")
//-     img(src=require("./images/parallax/pf2.png")).parallax-footer__image
//-     .parallax-footer__layer(data-speed="0.35")
//-     img(src=require("./images/parallax/pf3.png")).parallax-footer__image
//-     .parallax-footer__layer(data-speed="0.28")
//-     img(src=require("./images/parallax/pf4.png")).parallax-footer__image
//-     .parallax-footer__layer(data-speed="0.26")
//-     img(src=require("./images/parallax/pf5.png")).parallax-footer__image

