//- script(type="text/x-template")#parallax-header__section
//- 	.parallax
//- 		.parallax__layer(data-speed="0.1")
//- 			img(src=require("./images/parallax/1.jpg")).parallax__image
//- 		.parallax__layer(data-speed="0.20")
//- 			img(src=require("./images/parallax/2.png")).parallax__image
//- 		.parallax__layer(data-speed="0.22")
//- 			img(src=require("./images/parallax/3.png")).parallax__image
//- 		.parallax__layer(data-speed="0.24")
//- 			img(src=require("./images/parallax/4.png")).parallax__image
//- 		.parallax__layer(data-speed="0.26")
//- 			img(src=require("./images/parallax/5.png")).parallax__image
//- 		.parallax__layer(data-speed="0.28")
//- 			img(src=require("./images/parallax/6.png")).parallax__image
//- 		.parallax__layer(data-speed="0.30")
//- 			img(src=require("./images/parallax/7.png")).parallax__image